
.card{
    box-shadow: 1px 1px 12px -6px #000;
    border-radius: 10px;
    position: relative;
    padding:38px 20px 0;
    padding-bottom: 0px;
    background-color: #333;
}

.card:hover{
    box-shadow: 2px 3px 15px -5px #000;
    background-color: #383838;
}

.card .card-content{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: initial;
}

.card .card-content .card-title .card-name{
    color: #EEEEEE;
    font-weight: 600;
    text-align: left;
    font-size: 18px;
    text-transform: capitalize;
}

.card .card-content .card-desc{
    font-size: 13px;
    color: #9E9E9E;
    font-style:oblique;
}

.card .ant-progress-circle .ant-progress-text {
    color: #EEEEEE;
    font-size: 15px;
}

.completed-intervals, .interval-period{
    font-size: 16px;
    padding: 5px;
    margin: 8px 0;
}

.card .ant-progress-line{
    position: unset;
}

.card .ant-progress-outer{
    position: absolute;
    left: 0;
    bottom: 0;
}

.card .ant-progress-inner {
    display: block;
}

.card .ant-tag{
    color: #EEEEEE;
    background: transparent;
    font-size: 15px;
}

.config .ant-col-24{
    margin-top: 34px;
}

.config #activity-name{
    border-bottom: 1px solid #bfbfbf;
}

.config .label{
    color: #fff;
    font-weight: 600;
    text-align: left;
}

.listing{
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    gap: 15px;
}

.add-new-cuckoo-button,
.add-new-cuckoo-button:hover{
    height: 40px;
    font-size: 16px;
    border: dashed 1px #EEEEEE;
    color: #EEEEEE;
    background-color: transparent;
}

.list-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}