.add-new-conatiner{
    padding: 32px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap:36px;
}

.add-new-header{
    font-weight: bold;
    font-size: 24px;
    padding: 16px;
    border-radius: 14px;
    box-shadow: 10px 10px 37px 0px #c5c3c3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc800;
}

.add-new-item-conatiner{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    border-radius: 14px;
    box-shadow: 10px 10px 37px 0px #c5c3c3;
}

.add-new-item-row{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.add-new-item-title{
    font-size: 16px;
    font-weight: bold;
}

.add-new-button ,.add-new-button:hover{
    font-size: 16px;
    font-weight: bold;
    border-color:  #ffc800;
    background:  #ffc800;
    color: initial;
    border-radius: 10px;
    height: 40px;
}
