.add-new-container{
    display: flex;
    flex-direction: column;
    gap:16px;
    width: 100%;
}

.add-new-item-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px -6px #888888;
}

.add-new-item-row{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.add-new-item-title{
    font-size: 16px;
    font-weight: bold;
}

.add-new-button ,.add-new-button:hover{
    font-size: 16px;
    font-weight: bold;
    border:none;
    background:  #F44336;
    color: white;
    height: 40px;
}


.back-button, .back-button:hover{
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 12px -5px #888888;
    color: initial;
}

.errorBorder{
    border: 1px solid #fa541c !important;
}