.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;

}

.header{
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 16px;
  box-shadow: 0px 0px 15px 5px #c5c3c3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F44336;
  top:0;
  position:sticky;
  z-index: 99;
}

.header img{
  width: 60%;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
