body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,body{
  width: 450px !important;
  height: auto;
  background-color: #212121;
}

.custom-scroll{
  scrollbar-width: thin;
  scrollbar-color: #ebecf0 #ffffff;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height:8px;
  background-color:#ebecf0;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ebecf0;
}

html::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}